<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="lib/chessboardjs/css/chessboard-0.3.0.css">
  <link rel="stylesheet" href="style.css">
  <title>Chess AI</title>
</head>

<body class="body">

  <a href="/" style="
      position: absolute;
      width: 200px;
      background:#b58863;
      margin: auto;
      border-radius: 30px;
      text-decoration: none;
    ">
    <h1 class="title" style="color: wheat; font-size: 20px">Main Menu</h1>
  </a>

  <h1 class="title" style="color: wheat;">Unbeatable Chess AI</h1>
  <p class="title" style="color: wheat; font-size: 30px">Level <span id='level'></span></p>
  <div style="width: 30%;" id="board"></div>
  <script src="lib/jquery/jquery-3.2.1.min.js"></script>
  <script src="lib/chessjs/chess.js"></script>
  <script src="lib/chessboardjs/js/chessboard-0.3.0.js"></script>
  <script src="script.js"></script>
</body>
<script>
  const level = localStorage.getItem('level');
  const levelText = document.querySelector('#level');
  if (level == 1) {
    levelText.textContent = 'Easy';
  } else if (level == 2) {
    levelText.textContent = 'Medium';
  } else {
    levelText.textContent = 'Hard';
  }
</script>

</html>