<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./mainmenu-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    </style>
    <title>Unbeatabel Chess</title>
</head>

<body>
    <div class="desktop-1">
        <a href="/" style="
              position: absolute;
              width: 200px;
              background:#b58863;
              margin: auto;
              border-radius: 30px;
              text-decoration: none;
              text-align:center
            ">
            <h1 style="color: wheat; font-size: 20px">Back</h1>
        </a>
        <div class="overlap-group">
            <div class="overlap-group1">
                <div class="title-container">
                    <img class="" src="/img/mdi-chess-rook.svg" />
                    <div class="unbeatablelexendmega-semi-bold-white-36px">UNBEATABLE</div>
                </div>
            </div>
            <div class="frame-7">
                <p style="font-size: 21px;">
                    Penerapan AI untuk permainan catur kami yaitu menggunakan Algoritma minimax. Algoritma minimax
                    merupakan algoritma yang
                    menggunakan metode pengambilan keputusan untuk meminimalisir peluang kalah atau rugi dan
                    memaksimalkan peluang terbaik. Algoritma ini
                    kami gunakan di
                    dalam permainan catur
                    kami agar AI dapat mengambil langkah yang optimal di dalam permainannya.
                </p>
                <p style="font-size: 21px;">
                    Modifikasi yang kami lakukan yaitu menambah level kesulitan dari AI game catur. Dimulai dari AI yang
                    mudah dikalahkan
                </p>
            </div>
        </div>
    </div>
</body>

</html>